<template>
  <div class="about">
    <Menu></Menu>
  </div>
</template>
<script>
// @ is an alias to /src
import Menu from '@/components/MainPage.vue'

export default {
  name: 'home',
  components: {
    Menu
  }
}
</script>
