<template>
  <div class="Boot">
    <!-- Navbar containing all tasks filters -->
    <div class="navbar">
      <b-navbar toggleable="lg" type="dark" class="navbar">
        <b-navbar-brand class="navbar">Task filters</b-navbar-brand>

        <b-navbar-toggle target="nav_collapse" />

        <b-collapse is-nav id="nav_collapse">
          <b-navbar-nav>
            <b-nav-item id="btnDate" @click="btnDate">Tasks for today</b-nav-item>
            <b-nav-item id="btnNoFil" @click="btnNoFil">All tasks</b-nav-item>
            <b-nav-item id="btnComplete" @click="btnComplete">Completed tasks</b-nav-item>
            <b-nav-item id="btnPriority" @click="btnPriority">Priority tasks</b-nav-item>
          </b-navbar-nav>
        </b-collapse>
      </b-navbar>
    </div>
    <!-- End of navbar -->
    <br><br>
    <!-- Here starts the main container -->
    <b-container class="conta">
      <h1 style="color:#66FCF1; text-align:center;"><b>Your 'To Do' list</b> </h1>
      <b-row>
        <b-col offset=0 style="text-align:left; color:white; margin:0% 3%">
          <br>
          View Mode: {{ filter }} 
        </b-col>
        <b-col offset=2 style="text-align:right">
          <b-button id="btn-add" v-b-modal.modal_center>Add Task</b-button>&nbsp;&nbsp;
        </b-col>
      </b-row>
      <br>
      <b-card-group columns>
        <tasks ref="component"></tasks>
      </b-card-group>
    </b-container>
        <br>
            <b-button id="btn-upd" v-b-modal.modal_center_update>Update</b-button>
        <br>
        <span>Version {{ version }}</span>

    <!-- Modal Components -->
    <b-modal
      id="modal_center"
      centered
      title="Add Task"
      ref="modal_center"
      @ok="handleSubmit"
      @shown="clearTask"
    >
      <form @submit.stop.prevent="handleSubmit">
        <b-form-input id="addInputTask" type="text" placeholder="Enter task" v-model="newTask"/>
        <br>
        <datepicker id="addInputDay" v-model="day"></datepicker>
        <br>
        <b-form-checkbox id="addInputPriority" v-model="priority">Priority Task?</b-form-checkbox>
      </form>
    </b-modal>
    <b-modal
      id="modal_center_update"
      centered
      title="Update the selected task"
      ok-title="Confirm"
      @ok="updateTask"
      @shown="clearTask"
    >
      <form @submit.stop.prevent="handleSubmit">
        <b-form-input id="updateInputTask" type="text" placeholder="Enter task" v-model="newTask"/>
        <br>
        <datepicker id="updateInputDay" v-model="day"></datepicker>
        <br>
        <b-form-checkbox id="updateInputPriority" v-model="priority">Has the Priority changed?</b-form-checkbox>
      </form>
    </b-modal>
  </div>
</template>

<script>
import tasks from './Tasks'
import { ID_SELECTED } from '@/components/events.js'
import { FILTER_CHANGE } from '@/components/events.js'
import Datepicker from 'vuejs-datepicker'
import moment from 'moment'
export default {
  data () {
    return {
      taskObj: {
        task: '',
        dayToBeDone: '',
        completed: false,
        taskPriority: false
      },
      newTask: '',
      day: '',
      priority: false,
      filter: "Today's tasks",
      selectedIds: [],
      version: '0.89'
    }
  },
  components: {
    tasks,
    Datepicker
  },
  methods: {
    clearTask: function () {
      this.newTask = ''
    },
    clearDay: function () {
      this.day = ''
    },
    resetPriority: function () {
      this.priority = false
    },
    resetTaskObj: function () {
      this.taskObj.task = ''
      this.taskObj.dayToBeDone = ''
      this.taskObj.priority = false
    },
    handleOk: function (evt) {
      if (!this.newTask) {
        alert('Please enter a task')
      } else if (!this.day) {
        alert('Please enter a day')
      } else {
        this.handleSubmit()
      }
    },
    formatDate: function (date) {
      // debugger
      var formated = moment(date).format('L')
      return formated
    },
    handleSubmit: function () {
      console.log('Adding a new task')
      var formatedDate = this.formatDate(this.day)
      this.taskObj.task = this.newTask
      this.taskObj.dayToBeDone = formatedDate
      this.taskObj.taskPriority = this.priority
      this.$refs.component.addTask(this.taskObj)
      this.clearTask()
      this.clearDay()
      this.resetTaskObj()
      this.resetPriority()
      this.$refs.modal_center.hide()
    },
    updateTask: function () {
      // debugger
      var updateId = this.selectedIds.shift()
      var formatedDate = this.formatDate(this.day)
      this.taskObj.task = this.newTask
      this.taskObj.dayToBeDone = formatedDate
      this.taskObj.priority = this.priority
      this.$refs.component.updateTask(updateId, this.taskObj)
      this.clearTask()
      this.clearDay()
      this.resetTaskObj()
      this.resetPriority()
    },
    listen: function () {
      this.$events.listen(ID_SELECTED, eventData => this.selectedIds.push(eventData))
    },
    btnNoFil: function () {
      this.filter = 'All tasks'
      console.log('filter status: ' + this.filter)
      this.$events.$emit(FILTER_CHANGE, this.filter)
    },
    btnComplete: function () {
      this.filter = 'Completed tasks'
      console.log('filter status: ' + this.filter)
      this.$events.$emit(FILTER_CHANGE, this.filter)
    },
    btnPriority: function () {
      this.filter = 'Priority tasks'
      console.log('filter status: ' + this.filter)
      this.$events.$emit(FILTER_CHANGE, this.filter)
    },
    btnDate: function () {
      this.filter = "Today's tasks"
      console.log('filter status: ' + this.filter)
      this.$events.$emit(FILTER_CHANGE, this.filter)
    }
  },
  mounted: function () {
    // this.callAPI()
    this.listen()
  }
}
</script>

<style lang="scss" scoped>
.Boot {
  padding-top: 0px;
  background-image: url('../assets/option1.jpg');
  min-height: 1080px;
}
.navbar {
  background-color: #0B0C10;
  color: white;
}
.conta {
  padding: 20px 2%;
  background-color:#0B0C10;
}
</style>
