<template>
  <div>
    <!-- Completed tasks -->
    <b-card v-if="taskCompletion" border-variant="dark" class=cards style="text-align:left">
      <h6>
        <b-row>
          <b-col>
            <u>Date: {{ taskDate | reverseDate }}</u>
          </b-col>
          <b-col style="text-align:right">
            <b-badge style="background-color:#109500">Completed</b-badge>
          </b-col>
        </b-row>
      </h6>
      <br>
      Task: {{ taskDetails }}
      <!-- Buttons -->
      <div slot=footer>
        <b-row>
          <b-col>
            <b-button size="sm" variant="outline-secondary" @click="taskDeleted"><i class="far fa-trash-alt"></i></b-button>
          </b-col>
          <b-col offset=2 style="text-align:right">
            <b-button size="sm" @click="taskCompleted"><i class="fas fa-check"></i></b-button>
          </b-col>
        </b-row>
      </div>
    </b-card>

    <!-- Priority tasks -->
    <b-card v-else-if="taskPriority" border-variant="dark" class=cards style="text-align:left">
      <h6>
        <b-row>
          <b-col>
            <u>Date: {{ taskDate | reverseDate }}</u>
          </b-col>
          <b-col style="text-align:right">
            <b-badge style="background-color:#CA8A0A">&emsp;Priority&emsp;</b-badge>
          </b-col>
        </b-row>
      </h6>
      <br>
      Task: {{ taskDetails }}
      <!-- Buttons -->
      <div slot=footer>
        <b-row>
          <b-col>
            <b-button size="sm" variant="outline-secondary" @click="taskDeleted"><i class="far fa-trash-alt"></i></b-button>
          </b-col>
          <b-col offset=2 style="text-align:right">
            <b-button size="sm" variant="outline-secondary"><i class="far fa-edit"></i></b-button>&nbsp;
            <b-button size="sm" variant="outline-secondary" @click="taskCompleted"><i class="fas fa-check"></i></b-button>
          </b-col>
        </b-row>
      </div>
    </b-card>

    <!-- All tasks -->
    <b-card v-else border-variant="dark" class=cards style="text-align:left" footer-border-variant="dark">
      <h6>
        <b-row>
          <b-col>
            <u>Date: {{ taskDate | reverseDate }}</u>
          </b-col>
          <b-col style="text-align:right">
            <b-badge variant="secondary">&nbsp;&emsp;To do&emsp;&nbsp;</b-badge>
          </b-col>
        </b-row>
      </h6>
      <br>
      Task: {{ taskDetails }}
      <!-- Buttons -->
      <div slot=footer>
        <b-row>
          <b-col>
            <b-button size="sm" variant="outline-secondary" @click="taskDeleted"><i class="far fa-trash-alt"></i></b-button>
          </b-col>
          <b-col offset=2 style="text-align:right">
            <b-button size="sm" variant="outline-secondary"><i class="far fa-edit"></i></b-button>&nbsp;
            <b-button size="sm" variant="outline-secondary" @click="taskCompleted"><i class="fas fa-check"></i></b-button>
          </b-col>
        </b-row>
      </div>
    </b-card>
    <!-- End of b-cards -->
    <br>
  </div>
</template>

<script>
import { ID_SELECTED } from '@/components/events.js'
import { TASK_COMPLETE } from '@/components/events.js'
import { TASK_DELETE } from '@/components/events.js'
import moment from 'moment'
export default {
  props: {
    taskDetails: {
      type: String,
      required: true,
      default: 'Details'
    },
    taskDate: {
      type: String,
      required: true,
      default: 'did not mount'
    },
    taskId: {
      type: Number,
      required: true,
      default: -1
    },
    taskCompletion: {
      type: Boolean,
      required: true,
      default: null
    },
    taskPriority: {
      type: Boolean,
      required: true,
      default: null
    }
  },
  data () {
    return {
      selectedId: null,
      taskObj: {
        id: null,
        task: '',
        day: '',
        completed: false,
        priority: false
      }
    }
  },
  methods: {
    taskSelected: function () {
      if (this.selectedId === false) {
        console.log('unchecked')
      } else {
        console.log('ID selected :' + this.selectedId)
        this.$events.$emit(ID_SELECTED, this.selectedId)
      }
    },
    taskCompleted: function () {
      if(this.taskCompletion === false) {
        console.log('Task completed: ' + this.taskId)
        this.taskObj.id = this.taskId
        this.taskObj.task = this.taskDetails
        this.taskObj.day = this.taskDate
        this.taskObj.completed = true
        this.taskObj.priority = this.taskPriority
        this.$events.$emit(TASK_COMPLETE, this.taskObj)
      }else {
        console.log('Task uncompleted: ' + this.taskId)
        this.taskObj.id = this.taskId
        this.taskObj.task = this.taskDetails
        this.taskObj.day = this.taskDate
        this.taskObj.completed = false
        this.taskObj.priority = this.taskPriority
        this.$events.$emit(TASK_COMPLETE, this.taskObj)
      }
    },
    taskDeleted: function () {
      console.log('Task deleted:' + this.taskId)
      this.$events.$emit(TASK_DELETE, this.taskId)
    }
  },
  filters: {
    reverseDate: function (date) {
      return moment(date).format('L')
    }
  }
}
</script>

<style lang="scss" scoped>
  .cards {
    background-color:#1F2833;
    color:#66FCF1;
  }
</style>
