<template>
  <div>
    <v-wait for="tasks loaded">
      <template slot="waiting">
        <div>Collecting Tasks</div>
      </template>
      <li v-if="this.rawTasks.length === 0">No tasks</li>
      <span v-else v-for="(task, id) in filterTasks" v-bind:key="id">
        <!-- <div v-if="filter(filterStatus)"> -->
        <!-- <div v-bind:class="{ completed: task.completed, priority: task.priority }"> -->
          <task
            :taskDate="task.dayToBeDone"
            :taskDetails="task.task"
            :taskId="task.id"
            :taskCompletion="task.completed"
            :taskPriority="task.priority"
          ></task>
        <!-- </div> -->
      </span>
    </v-wait>
  </div>
</template>

<script>
import axios from 'axios'
import task from './Task'
import { TASK_COMPLETE } from '@/components/events.js'
import { TASK_DELETE } from '@/components/events.js'
import { FILTER_CHANGE } from '@/components/events.js'
import moment from 'moment'
export default {
  data () {
    return {
      rawTasks: [],
      errors: [],
      completedTasks: [],
      selectedId: null,
      filterStatus: 'date'
    }
  },
  components: {
    task
  },
  methods: {
    callAPI: function () {
      this.$wait.start('tasks loaded')
      axios
        .get('http://localhost:8000/api/task').then(response => {
          this.rawTasks = response.data
          this.$wait.end('tasks loaded')
        })
        .catch(e => {
          this.errors.push(e)
        })
    },
    deleteTask: function (delId) {
      var deleteId = delId
      console.log('Calling delete function for ID:' + deleteId)
      axios.delete('http://localhost:8000/api/task/' + deleteId, { data: { id: deleteId } })
        .then(response => {
          console.log(response)
          this.callAPI()
        })
        .catch(e => {
          this.errors.push(e)
        })
    },
    addTask: function (taskObj) {
      console.log('Adding new task')
      axios
        .post('http://127.0.0.1:8000/api/task', {
          task: taskObj.task,
          dayToBeDone: taskObj.dayToBeDone,
          completed: false,
          priority: taskObj.taskPriority
        })
        .then(response => {
          console.log(response)
          this.callAPI()
        })
        .catch(e => {
          this.errors.push(e)
        })
    },
    updateTask (updateId, taskObj) {
      debugger
      axios
        .put('http://127.0.0.1:8000/api/task/' + updateId, {
          id: updateId,
          task: taskObj.task,
          dayToBeDone: taskObj.dayToBeDone,
          completed: false,
          priority: taskObj.priority
        })
        .then(response => {
          console.log(response)
          this.callAPI()
        })
        .catch(e => {
          this.errors.push(e)
        })
    },
    getId: function (variable) {
      console.log('Id recieved' + variable)
      this.selectedId = variable
    },
    listenTaskComplete: function () {
      this.$events.listen(TASK_COMPLETE, eventData =>
        this.taskCompleted(eventData)
      )
    },
    listenTaskDelete: function () {
      this.$events.listen(TASK_DELETE, eventData =>
        this.deleteTask(eventData)
      )
    },
    listenFilterChange: function () {
      this.$events.listen(
        FILTER_CHANGE,
        eventData => (this.filterStatus = eventData)
      )
    },
    taskCompleted: function (completedTask) {
      console.log('Id recieved: ' + completedTask.id)
      axios
        .put('http://127.0.0.1:8000/api/task/' + completedTask.id, {
          id: completedTask.id,
          task: completedTask.task,
          dayToBeDone: completedTask.day,
          completed: completedTask.completed,
          priority: completedTask.priority
        })
        .then(response => {
          console.log(response)
          this.callAPI()
        })
        .catch(e => {
          this.errors.push(e)
        })
    },
    filtered: function (task) {
      if (this.filterStatus === 'Completed tasks') {
        return task.completed === true
      } else if (this.filterStatus === 'Priority tasks') {
        return task.priority === true
      } else if (this.filterStatus === "Today's tasks") {
        return moment(task.dayToBeDone).format('L') === moment().format('L')
      } else if (this.filterStatus === 'All tasks') {
        return task
      } else {
        return false
      }
    }
  },
  mounted: function () {
    this.callAPI()
    this.listenTaskComplete()
    this.listenFilterChange()
    this.listenMultiDelete()
    this.listenTaskDelete()
  },
  computed: {
    filterTasks: function () {
      return this.rawTasks.filter(task => {
        return this.filtered(task)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.completed {
  background-color: #0ecee8;
}
.priority {
  background-color: #ffc300;
}
</style>
